 
@font-face {
  font-family: font;
  src: url(https://raw.githubusercontent.com/South-Paw/typeface-vag-rounded/master/files/vag-rounded-400.woff2)
}
* {
  font-family: font;
  color: var(--text-color);
}
/*This adds the backgrounds image from a URL*/
body {
    background-image: url(https://media.tenor.com/images/22124b8e179f5857a61a3f8e08dcfdce/tenor.gif);
    background-attachment: fixed;
    background-size: cover;
}
/*Centers the menu at the top*/
#top {
    grid-template-columns: 1fr auto 1fr;
}
/*Hides the logo when typing*/
#top.focus .logo { 
    opacity: 0;
}
/*Allows custom logo text*/
#top .logo .top {
  visibility: hidden;
}
#top .logo .top:after {
  color: var(--text-color);
    content:'';
    visibility: visible;
    display: block; 
    position: relative; 
}
#top .logo .bottom {
    visibility: hidden;
}
#top .logo .bottom:after {
  content: '73i | Typing test';
  font-size: 40px;
    visibility: visible; 
    display: block; 
    position: relative; 
    margin-top: -32px; 
}
/* UNCOMMENT AND CHANGE COLOR TO ADD TEXT BORDERS 
letter {
    text-shadow: 0px 0px 3px #FFFFFF;   
} */
/*Hides the elements at the bottom (The Patreon links etc.)*/
#bottom {
    visibility: hidden;
}
#centerContent {
    border-color: var(--text-color) !important;
    backdrop-filter: blur(5px) !important;
    border-style: solid !important;
    max-width: 1000px;
    display: grid;
    grid-auto-flow: row;
    min-height: 100vh;
    padding: 2rem;
    gap: 2rem;
    align-items: center;
    z-index: 999;
    grid-template-rows: auto 1fr auto;
    width: 100%
}
#capsWarning {
    background: var(--main-color);
    color: var(--bg-color);
    display: table;
    position: absolute;
    left: 25%;
    transform: translateX(-25%) translateY(-435%);
    padding: 1rem;
    border-radius: var(--roundness);
    transition: .25s;
    z-index: 999;
    pointer-events: none
}